body {
    display: flex;
    background-color: rgb(125, 214, 214);
    margin: 20px;
}
.mensaje {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 24px;
    color: #333;
}